*{
padding: 0;
margin: 0 auto;
color: #667085;
list-style: none;
font-family: Segoe UI;
}

body{
   background:#665f5f88;
}

h2{
    color: #3C3C3C;
}

main{
margin-top:20px;
background: white;
width: 80vw;
height: 2020px;

padding-left: 120px;
padding-top: 29px;
}

.non_decorate{
text-decoration: none;
margin-left:80px;
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text{
margin-left:133px;
margin-top:29px;

}

.menu{
    margin-left:501px;
    margin-top: -22px;

}

span{
    color:#ebb22f;
    font-family: Inter;
    font-style: normal;
}
header,a{
    text-decoration-color:#ebb22f;
    text-decoration-thickness: 3px;
    
}

.image_pizza{
margin-left:486px;
margin-top:-93px;
}

.btn_delivery{
font-family: Inter;
font-size: 16.625px;
font-style: normal;
color: #ebb22f;
margin-top:133px;
display: inline-flex;
height: 30px;
padding: 0px 9.5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 9.5px;
background: #FFF2D4;
}

.tag_line{
color: #3C3C3C;
font-family: Segoe UI;
font-size: 48px;
font-style: normal;
font-weight: 700;
  
}

.tag_line_place{
    
    margin-top:-440px;
}

.description{
color: #667085;
font-family: Inter;
font-size:17.8px;
font-style: normal;
line-height: 32px;
}

.shape_place{
    margin-left:400px;
   
}

.btn_place{
    margin-top: 27px;
  
}

.btn{
font-family: Inter;
display: inline-flex;
border-radius: 20px;
font-size: 17px;
font-style: normal;
color: #FFF;
font-family: Inter;
font-size: 19px;
width: 100px;
height: 40px;
padding: 0px 9.5px;
justify-content: center;
align-items: center;
gap: 9.5px;
background: #FFC12F;
}

.inf_text{
    margin-left: 200px;
    margin-top: -30px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    
}

.img_pointer{
    text-align: left;
    margin-top: -22px;
    margin-left:160px;
}

section h2{
    font-family: Segoe UI;
font-size: 36px;
font-style: normal;
}

.sect_func{

    margin-top:282px;
    margin-left: 471px;
    position: relative;
}

.sect_text{
color: #667085;
margin-left: -650px;
margin-top: 30px;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 27px;

}

.book_icon{
    margin-left: 23px;
    margin-top: 28px;
    position: absolute;
}

.truck_icon{
    
    margin-left: 13px;
    margin-top: 28px;
    position: absolute;
   
}

.payment_icon{
    
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
   
}

.order{
    position: absolute;
    margin-top:0px;
    width: 88px;

}

.payment{
    position: absolute;
    width: 88px;

}

.delivery{
    position: absolute;
    width: 88px;

}

.delivery_now{
    position: relative; /* Устанавливаем позиционирование контейнера */
    margin-top:-60px;
    margin-left: 65px;
}

.order_now{
    position: relative; /* Устанавливаем позиционирование контейнера */
    margin-top:150px;
    margin-left: -350px;
}



.payment_now{
    position: relative; /* Устанавливаем позиционирование контейнера */
    margin-top:-96px;
    margin-left: 450px;
}



.p_text {
    color: #3C3C3C;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
position: absolute;
text-align: left; /* Центрирование текста по горизонтали */
margin-top: 129px;
text-align: left;
margin-left: -5px;
  }

.order_text{
    margin-top: 180px;
    margin-left: -89px;
    position: absolute;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.vector1{
    margin-left:-195px;
    margin-top: 50px;
}

.vector2{
    margin-top: 10px;
    margin-left: 195px;
}